<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <p></p>
    <a href="/index">Index</a>
    <a href="/gallery">Gallery</a>
    <p></p>
     <form action="/search/" method="post">
         <input type="text" name="search">
         <select name="kind">
             <option value='type'>type</option>
             <option value='artist_name'>artist name</option>
             <option value='location'>location</option>
             <option value='country'>country</option>
             <option value='birth_year'>birth year</option>
         </select>
     <input type="submit" value="search">
     </form>
     <p><a href="/newgallery" style="text-decoration: none"><b>Create Gallery</b></a></p>
     <p><a href="/newartist" style="text-decoration: none"><b>Create Artist</b></a></p>

</body>
</html>