<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert</title>
</head>
<body>
    <p></p>
    <a href="/index">Index</a>
    <a href="/gallery">Gallery</a>
    <p></p>
     <form action="/search/" method="post">
         <input type="text" name="search">
         <select name="kind">
             <option value='type'>type</option>
             <option value='artist_name'>artist name</option>
             <option value='location'>location</option>
             <option value='country'>country</option>
             <option value='birth_year'>birth year</option>
         </select>
     <input type="submit" value="search">
     </form>
    {% if 1 == info %}
        <p>Insert Success</p>
    {% else %}
        <p>Insert Fail</p>
        <p>Your input is illegal!</p>
    {% endif %}
    {% if 1 == kind %}
        <a href="/newgallery" style="text-decoration: none"><b>Back</b></a>
    {% endif %}
    {% if 2 == kind %}
        <a href="/images?id={{ gid }}" style="text-decoration: none"><b>Back</b></a>
    {% endif %}
    {% if 3 == kind %}
        <a href="/newartist" style="text-decoration: none"><b>Back</b></a>
    {% endif %}

</body>
</html>