<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Artist</title>
</head>
<body>
    <p></p>
    <a href="/index">Index</a>
    <a href="/gallery">Gallery</a>
    <p></p>
     <form action="/search/" method="post">
         <input type="text" name="search">
         <select name="kind">
             <option value='type'>type</option>
             <option value='artist_name'>artist name</option>
             <option value='location'>location</option>
             <option value='country'>country</option>
             <option value='birth_year'>birth year</option>
         </select>
     <input type="submit" value="search">
     </form>
    <p></p>
    <a href="/artist?id={{ id }}&iid={{ iid }}" style="text-decoration: none">Back</a>
     <p></p>
    <form action="/update/?kind={{ 3 }}&id={{ id }}" method="post">
         name: <input type="text" name="name"><br>
         birth_year: <input type="text" name="birth_year"><br>
         country: <input type="text" name="country"><br>
         description: <input type="text" name="description"><br>
     <input type="submit" value="submit">
     </form>
</body>
</html>