<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Artist</title>
</head>
<body>
    <a href="/index">Index</a>
    <a href="/gallery">Gallery</a>
    <br>
     <form action="/insert/?kind={{ 3 }}" method="post">
         name: <input type="text" name="name"><br>
         birth_year: <input type="text" name="birth_year"><br>
         country: <input type="text" name="country"><br>
         description: <input type="text" name="description"><br>
     <input type="submit" value="submit">
     </form>
</body>
</html>